.element{
    height:600px;
}

.list{
	width:100%;
/*    float:right;
    position:relative;
    left:-50%;
    text-align:left;*/
}



.list ul{
	list-style-type: none;
	float:left;
/*	margin:0;
	position:relative;
    left:50%;*/

}

.list li{
    display: inline;
    float:left;
    margin:6%;
    margin-bottom:0px !important;
    display:block;
    width:20%;

}

.list img{
	display: block;
    margin: auto;
	height:100px;
	width:100px;
	margin-bottom:20px;
}

.list h4{
	text-align:center;
}

.list h5{
    font-size:20px;
    text-align:center;
}