.header{
  display: inline;
  vertical-align: middle;
  margin-left:5%;
/*  margin-right:10%;*/
}

.navbarBlock{

 margin-right: 20%;
 float:right;
 white-space: nowrap;

}
.navbar {
    list-style-type: none;
    margin: 0 auto;
   /* padding-top: 20px;*/
    

}

.navbar li{
    display: inline;
    margin:10%;
    font-family: .SFNSDisplay;
    font-size: 20px;
    color: #929292;
}
