.header{
/*  margin-right:10%;*/


top:0px; margin:auto; 
/*position:fixed; 
z-index:100000; */
width:100%;
/*background:#F7F7F7; */
height:85px; 
/*opacity:0.8;*/
}

.header-content{
  display: inline;
  vertical-align: middle;
  margin:10%;
  margin-top:0px;
/*  margin-left:5%;*/
}

.header img{

  height:50px;
  margin:20px;

}
.navbarBlock{

 margin-right: 10%;
 margin-top:2% !important;
 float:right;
 white-space: nowrap;

}

.navbar {
    list-style-type: none;
    margin: 0 auto;
   /* padding-top: 20px;*/
    

}

.navbar li{
    display: inline;
    margin:10%;
/*    font-family: Helvetica;*/
    font-size: 20px;
    color: #929292;
}

.navbar a{
   color: inherit;
  text-decoration: none;
}

